@import url("reset.css");
body{
   font-family: "Fira Sans", sans-serif;  
	font-size: 17px;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	background-color: #f0858b;
} 
.header__container{
	max-width: 1050px;
	margin: 0 auto;
}
.header__logo{
   line-height: 90px;
   font-size: 20px;
   color: #fff;
   font-family: "Bebas Neue", sans-serif;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.menu {
	background-color:#d1b3ff;
}
.article h1{
	font-size: 30px;
	margin-bottom: 30px;
text-align: center;
	font-weight: 700;
}
.article h2{
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 700;
}

.article__container{
	background-color: #ffffff; 
	border-radius: 10px;
	max-width:1050px;
	margin:0 auto;
	padding:30px;
	color:#4b3f3f;

}
.article__section{
	margin-bottom: 20px;
	text-align: center;
}

/* приклад плавної появи елементу при наведені на батьківський блок */
.block__item {
	max-width: 50%;
	min-height: 50px;
	background-color: #fd6fa3;

	transition: max-width 3s ease 0s;
	line-height: 50px;
	font-size: 20px;
	color:#fff;
	margin:0 auto;
}


.block:hover .block__item {
	max-width: 100%;
	
}

@keyframes rotate-element {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate-back {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes move {
	0% {
		left:0;
	}
	100% {
	left:840px;
	}
}
.block-animation:not(:last-child){
	margin-bottom: 20px;
}
.block-animation--1{
	position:relative;
	height: 150px;
}
.block-animation--1 .block-animation__item {
	position:absolute;
	width: 150px;
	height: 150px;
	background-color: #d4a6ff;
	border-radius: 50%;
	animation-name: move, rotate-element; 
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	border:40px dashed #fff;
}
.block-animation--2{
	position:relative;
	height: 150px;
}
.block-animation--2 .block-animation__item {
	position:absolute;
	width: 150px;
	height: 150px;
	line-height:110px;
	text-align:center;
	color:#fff;
	background-color: #a6f5ff;
	border-radius: 50%;
	animation-name: move, rotate-element; 
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 2s;
	border:20px dashed #fff;
}
.block-animation--2 .block-animation__item:hover {

	animation-play-state: paused;
}





/* bicycle */
.section-bicycle__container{
	width:1000px;
	margin:0 auto;
	position:relative;
	height:600px;
}
.block-1{
	position:absolute;
	width:15px;
	height:300px;
	background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);

bottom:205px;
right:282px;
z-index:5;
 transform: rotate(-15deg);
}
.block-2{
	position:absolute;
	width:20px;
	height:350px;
	background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);

bottom:120px;
right:420px;
z-index:4;
 transform: rotate(45deg);
}
.block-3{
	width:70px;
	height:70px;
	border-radius:50%;
 background-color: #000;
	position:absolute;
	bottom:145px;
	right:500px;
	z-index:7;
}
.block-4{
	position:absolute;
	width:15px;
	height:200px;
	background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);

bottom:180px;
left:310px;
z-index:5;
 transform: rotate(45deg);
}
.block-5{
	position:absolute;
	width:15px;
	height:330px;
	background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);

bottom:155px;
left:390px;
z-index:6;
 transform: rotate(-25deg);
}
.block-6{
	border-radius:13% 87% 85% 15% / 30% 100% 0% 70% ;
	background-color: #000;
	width:120px;
	height:50px;
	position:absolute;
	top:120px;
	left:300px;
	z-index:7;
}
.block-7{
	
	background: #000000;
	background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);
	
	width:250px;
	height:15px;
	position:absolute;
	bottom:190px;
	left:245px;
	z-index:6;
	transform: rotate(5deg);
}
/* педали */
@keyframes rotate {
	0% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.pedal-right{
	position:absolute;
	width:160px;
	height:160px;
	bottom:100px;
left:385px;
 animation-name: rotate; 
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite; 
z-index:10; 
}
.pedal-right__container{
	position:relative;
	width:160px;
	height:160px;
}
.block-8{
	
		position:absolute;
		width:10px;
		height:70px;
	
	background-color: #000;
	
bottom:10px;
left:60px;
	
	transform: rotate(25deg);


}

.block-9{
	position:absolute;
	width:40px;
	height:10px;
	background: #000;


	bottom:7px;
	left:30px;
z-index:10;
 transform: rotate(25deg);
}

.pedal-left{
	position:absolute;
	width:160px;
	height:160px;
	bottom:100px;
	left:385px;
	animation-name: rotate; 
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite; 
	z-index:1; 
}
.pedal-left__container{
	position:relative;
	width:160px;
	height:160px;
}
.block-14{
	
		position:absolute;
		width:10px;
		height:70px;
	
	background-color: #000;
	
top:10px;
right:60px;
	
	transform: rotate(25deg);


}

.block-15{
	position:absolute;
	width:40px;
	height:10px;
	background: #000;


	top:7px;
	right:30px;
z-index:10;
 transform: rotate(205deg);
}
/* руль */
.block-10{
	
	background: #000000;
	background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);
	
	width:90px;
	height:15px;
	position:absolute;
	top:80px;
	right:235px;
	z-index:6;
	transform: rotate(-25deg);
}
.block-12{
	
	background: #000000;

	
	width:40px;
	height:18px;
	position:absolute;
	top:52px;
	right:202px;
	z-index:6;
	transform: rotate(-25deg);
}
.block-11{
	
	background: #000000;
	background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(184, 184, 184, 1) 50%, rgba(0, 0, 0, 1) 100%);
	
	width:90px;
	height:15px;
	position:absolute;
	top:98px;
	right:330px;
	z-index:6;
	transform: rotate(5deg);
} 
.block-13{	
	background: #000000;
	width:40px;
	height:18px;
	position:absolute;
	top:90px;
	right:418px;
	z-index:6;
	transform: rotate(5deg);
} 

.wheel {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: #000000;
	border:  2px dashed #fff;
	
	display:inline-block;
	padding:25px;
	position:absolute;
	animation-name: rotate-back; 
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;


}

.wheel--left {
	bottom:60px;
	left:100px;
}
.wheel--right {	
	bottom:60px;
	right:100px;
}


.block-16 {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	bottom: 190px;
	left: 250px;
	transform: translate(-50%, -50%);
	z-index:7;
}
.block-17 {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	bottom: 190px;
	right: 230px;
	transform: translate(-50%, -50%);
	z-index:7;
}
.tire-left{
	position:absolute;
	animation-name: rotate; 
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	bottom:85px;
	left:125px;
	
}
.tire-right{
	position:absolute;
	animation-name: rotate; 
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	bottom:85px;
	right:125px;
}
.rim{
	width: 250px;
	height: 250px;
	background-color: #d7d7d7;
	border-radius: 50%;
	padding:10px;
	z-index:1;

}
.spokes{
	width: 230px;
	height: 230px;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	z-index:2;
}
.spoke {
	
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #d7d7d7;
	top: 0;
	left: 50%;

	z-index:3;
 }
 
 .spoke:nth-child(1) { transform: rotate(0deg); }
 .spoke:nth-child(2) { transform: rotate(20deg); }
 .spoke:nth-child(3) { transform: rotate(40deg); }
 .spoke:nth-child(4) { transform: rotate(60deg); }
 .spoke:nth-child(5) { transform: rotate(80deg); }
 .spoke:nth-child(6) { transform: rotate(100deg); }
 .spoke:nth-child(7) { transform: rotate(120deg); }
 .spoke:nth-child(8) { transform: rotate(140deg); } 
 .spoke:nth-child(9) { transform: rotate(160deg); } 
 @keyframes move-asphalt {
	0% {
		right: 0%;
	}
	100% {
		right: -50%;
	}
}
.asphalt {
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
}
.asphalt__container{
	position:relative;
	overflow:clip;
	width:100%;
	
	height:50px;
}

.asphalt__container::before {
	width:7000px;
	
	height:50px;
	position: absolute;
	content: '';
	right: 0%;
	border-top:1px dashed #fff;
	background-color: #606060;
	position:absolute;
	

animation-name: move-asphalt; 
animation-duration: 2s;
animation-timing-function: linear;
animation-iteration-count: infinite;

}



.footer__container {
	font-size: 16px;
	text-align: left;
	color: #fff;
	line-height: 21px;
	max-width: 1050px;
   margin: 0 auto;
   padding: 30px 0px;
}
