@import url("fonts.css");
@import url("reset.css");
body{
	font-family: "Poppins", sans-serif; 
	font-size: 14px;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page{
	flex-grow: 1;
}

[class*="__container"]{
	max-width:1350px;
	margin:0 auto;
	padding-inline:15px;
}


.featured-products {
	margin-bottom: 60px;
}
.featured-products__container{
	padding-top:60px;
}
.section-header {
	text-align: center;
	margin-bottom: 36px;
}
		.section-header__title {
			color: #1A1A1A;
			font-size: 36px;
			font-weight: 600;
			line-height: 120%; /* 43.2px */
		}

		.section-header__sub-title {
			color: #00B207;
			font-weight: 500;
			letter-spacing: 0.28px;
			text-transform: uppercase;
		}
		
		.section-header__link::after {
	content:"";
	width: 17px;
	height: 14px;
   background: url("../img/arrow.svg") no-repeat;
		}
.price{
	display:flex;
	gap:2px;
}
.price__old{
	color: #999;
	font-size: 16px;
	line-height: 150%; /* 24px */
	text-decoration-line: line-through;
}

.featured-products__items{
	display: grid;
   grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));

   margin-bottom: 24px;
   gap: 20px;
}

.banner {
	position:relative;
}
		.banner__info {
			position:absolute;
			top:24px;
			left:0;
			width:100%;
			text-align:center;
		}

		.banner__title {
			color: #1A1A1A;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.36px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}

		.banner__text {
			
			font-size: 32px;
			font-weight: 600;
			line-height: 120%; /* 38.4px */
			margin-bottom: 16px;
		}

		.banner__text--green {
			color: #00B207;
		}

		.banner__image {
			width:100%;
		}
.banner__btn{
	color:  #00B207;
	font-weight: 600;
	line-height: 120%; /* 16.8px */
	display:inline-flex;
	gap:12px;
	border-radius: 43px;
	background: #FFF;
	padding:14px 32px;
	margin:0 auto;
}
.banner__btn::after{
	content: "";
    width: 17px;
    height: 14px;
    background: url(../img/arrow.svg) no-repeat;	
}
.product-card {	


	border: 1px solid #E6E6E6;
	padding:4px;
	position:relative;
	margin: 0 -1px -1px 0;
  /* Плавний перехід */
  transition: border-color 0.3s, box-shadow 0.3s;
  display:flex;
  flex-direction: column;
}

.product-card__icons{
	max-width:40px;
	position:absolute; 
	top:16px;
	right:16px;
	opacity:0;
	visibility:hidden;

}
.product-card__wishlist{
	width:40px;
	height:40px;
	border-radius: 20px;
	border: 1px solid #F2F2F2;
	background-color: #fff;
	margin-bottom:6px;
	padding:10px;
	transition: all 0.3s ease;
}
.product-card__quick-view{
	width:40px;
	height:40px;
	border-radius: 20px;
	background-color: #fff;
	border: 1px solid #F2F2F2;
	padding:10px;
	transition: all 0.3s ease;
}


.product-card__add-to-cart {
	background-color:#F2F2F2;
	padding:10px;
	border-radius:20px;
	transition: all 0.3s ease;
}
.product-card__label{
	position:absolute;
	top:14px;
	left:19px;
	display:flex;
	max-width: calc(100% - 90px);
   flex-direction: column;
   row-gap: 6px;
   pointer-events: none;
}
.product-card__sale{
	color: #FFF;
	font-size: 14px;
	line-height: 150%; /* 21px */
	border-radius: 4px;
	background: #EA4B48;
	padding: 3px 8px;
}
	.product-card__image{
aspect-ratio: 254 / 230;
	}
.product-card__image img{
		width:100%;
		height:100%;
		object-fit: contain;

	}
	
.product-card__content{
	padding:12px 7px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:100%;
}
.product-card__text{
	display:flex;
	flex-direction:column;
	align-self:start;
	height:100%;
}
	.product-card__title {
		color: #2C742F;

		font-size: 14px;
		line-height: 150%;
		
	}

	.product-card__price {
		color:  #1A1A1A;
		font-size: 16px;
		font-weight: 500;
		line-height: 150%; /* 24px */
		margin-bottom: 6px;
		flex-grow:1;
	}
.product-card__rating{
	display:flex;
}






.featured-products__columns{
	display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-auto-rows: 1fr;
   margin-bottom: 60px;
   gap: 24px;
}


.column-featured{
	display:flex;
	flex-direction:column;
	gap:16px;
}

		.column-featured__title {
			color: #1A1A1A;
			font-size: 18px;
			font-weight: 500;
			line-height: 150%; /* 27px */
		}
.item-column{
	display:flex;
	border: 1px solid var(--Gray-Scale-Gray-100, #E6E6E6);

}

		.item-column__image {
			width: 102px;
			height: 102px;
			padding:5px;
		}
.item-column__image img{
	width:100%;
}
.item-column__text{
	padding:24px 12px;
	position:relative;
}
.item-column__title{
color: #4D4D4D;
font-size: 14px;
line-height: 150%; /* 21px */
}
.item-column__price{
color: #1A1A1A;
font-size: 16px;
font-weight: 500;
line-height: 150%; /* 24px */
display:flex;
margin-bottom:6px;
}
.price__old{
	color: #999;
font-size: 16px;
line-height: 150%; /* 24px */
}
.item-column__rating{
	display:flex;
}
.item-column__icons{
	opacity:0;
	visibility:hidden;
	
	position:absolute;
	top:0;
	left:0;
}

		.item-column__add-to-cart {
			width: 40px;
			height: 40px;
			background-color: #F2F2F2;
			padding: 10px;
			border-radius: 20px;
			transition: all 0.3s ease;
		}

		.item-column__quick-view {
			width: 40px;
			height: 40px;
			border-radius: 20px;
			background-color: #fff;
			border: 1px solid #F2F2F2;
			padding: 10px;
			transition: all 0.3s ease;
		}

		.item-column__wishlist {
			width: 40px;
			height: 40px;
			border-radius: 20px;
			border: 1px solid #F2F2F2;
			background-color: #fff;
			padding: 10px;
			transition: all 0.3s ease;
		}










.banner-column {
	position:relative;

}
		.banner-column__info {
			
				padding:32px 50px;
			
			width:100%;
			text-align:center;

			    position: relative;
    z-index: 1;
    top: 5%;
  
		}

		.banner-column__title {
			color: #1A1A1A;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 0.36px;
			text-transform: uppercase;
			margin-bottom: 8px;
		}

		.banner-column__text {
			color: #1A1A1A;
			font-size: 32px;
			line-height: 120%; /* 38.4px */
			margin-bottom: 16px;
		}

		

		.banner-column__image {
			    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
		}
.banner-column__btn{
	color:  #00B207;
	font-weight: 600;
	line-height: 120%; /* 16.8px */
	display:inline-flex;
	gap:12px;
	border-radius: 43px;
	background: #FFF;
	padding:14px 32px;
	margin:0 auto;
}
.banner-column__btn::after{
	content: "";
   width: 17px;
   height: 14px;
   background: url(../img/arrow.svg) no-repeat;	
}
	

.catalog{
background: #F8F3EC;
}
.catalog__container {
	max-width:1230px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 31px;
	padding-top:89px;
	padding-bottom:107px;
}
.catalog__title{
	color: #000;
	font-size: 60px;
	font-weight: 300;
	font-family: "KoPub-Batang";
	font-weight: 400;
}
.card-catalog__name{
	color: #2C2C2C;
	font-size: 20px;
	font-family: "KoPub-Batang";
   font-weight: 400;
	
}

.card-catalog__price {
	color: #4E4E4E;
	font-family: "Carme";
	font-size: 18px;
	font-weight: 400;

}
.catalog__button{
	color: #2C2C2C;
	font-size: 17px;
	line-height: 137.7%; /* 23.409px */
	padding: 10px;
   border: 1px solid #DBCCBA;
	align-self: center; 
	justify-self: start;
}
.catalog__button a {
    display: flex;
    gap: 10px;
    padding: 8px 30px;
    background-color: #DBCCBA;
}
	.catalog__button a::after {
	content: "";
    min-width: 23px;
    min-height: 14px;
    background: url(../img/right-arrow.svg) center / contain no-repeat;
		} 

.card-catalog{
grid-row: span 2;
}
		.catalog__title{
			grid-column:2 / 4;
			grid-row: 1;
			align-self: center;
		}
.card-catalog__image{
aspect-ratio: 1 / 1;
}
		.card-catalog__image img{
			
			object-fit: cover;
			width: 100%;
			height: 100%;	
         
		}
		.card-catalog__info{
			padding-top:14px;
			position:relative;
		}
		.card-catalog__name{
			margin-bottom:14px;
		}
	
			.card-catalog__icons {
				position:absolute;
				top:14px;
				right:6px;
				display:flex;
				gap:20px;
		}

			.card-catalog__wishlist {
		}

			.card-catalog__cart {
		}

@media (max-width: 1050px) {
.catalog__container {
	        grid-template-columns: repeat(2, 1fr);
}

		.catalog__title{
			grid-column:1 / 3;
			grid-row: 1;
			align-self: center;
			
		}
}
@media (max-width: 992px) {
 .product-card {
		flex: 0 0 calc(25% + 1px);
	}
}
@media (max-width: 768px) {
 .product-card {
		flex: 0 0 calc(33.333% + 1px);
	}
	.catalog__container {
	        grid-template-columns: repeat(1, 1fr);
			  grid-auto-rows: auto;
			  padding-top:64px;
			  padding-bottom:64px;
}

		.catalog__title{
			grid-column:1;
			grid-row: 1;
			
			
		}
}
@media (max-width: 650px) {
 .product-card {
		flex: 0 0 calc(50% + 1px);
	}
	.featured-products__columns {
	   grid-template-columns: 1fr;
      gap: 20px;
	   justify-items: center;
}
.item-column__text{
	padding-right:100px;
}
}
@media (max-width: 550px) {

}
@media (max-width: 450px) {
 .product-card {
		flex: 0 0 calc(100% + 1px);
	}
	.section-header{
		gap:15px;
	}

}
@media (max-width: 380px) {
.item-column__text{
	padding-right:20px;
}
}
@media (any-hover: hover){
.section-header__link:hover, .item-news__read-more:hover{
			text-decoration: underline;
		}
.product-card:hover{
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
	border: 1px solid #2C742F;
	z-index: 2;
}
.product-card:hover .product-card__icons{
	opacity:1;
	visibility:visible;
}
.item-column:hover .item-column__title{


}
.item-column:hover .item-column__icons{
	top:54px;
	left:12px;
	opacity:1;
	visibility:visible;
	display:flex;
	gap:12px;
}
.item-column:hover{
	border: 1px solid #2C742F;
	box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.item-column:hover .item-column__title{
	color: #2C742F;

}
.item-column:hover .item-column__price, .item-column:hover .item-column__rating{
	opacity:0;
	visibility:hidden;
	
}
.product-card__add-to-cart:hover, .item-column__add-to-cart:hover{
	background-color:	#00B207;
}
.product-card__wishlist:hover, .item-column__wishlist:hover{
	background-color:	#00B207;
	border:1px solid #00B207;
}
.product-card__quick-view:hover, .item-column__quick-view:hover{
	background-color:	#00B207;
	border:1px solid #00B207;
}
.title-featured__link:hover{
	text-decoration: underline;
}
}
@media (any-hover: none) {
   .product-card__icons{
	opacity:1;
	visibility:visible;
	
}
.item-column__icons{
	opacity:1;
	visibility:visible;
	position:static;
}
.item-column__rating{
margin-bottom:10px;
}
}
