
@import url("reset.css");
body{
	font-family:"Roboto", sans-serif;
	font-size: 17px;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	background-color: #f0858b;
	
}

.header-container{
max-width: 1050px;
margin: 0 auto;
}
.header-logo{

   line-height: 90px;
   font-size: 20px;
   color: #fff;
   font-family: "Bebas Neue", sans-serif;
   letter-spacing: 1px;
   text-transform: uppercase;
}
.base-block h1{
	font-size: 30px;
	margin-bottom: 30px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.base-block h2{
	font-size: 24px;
	margin-bottom: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.base-block h3{
	font-size: 21px;
	margin-bottom: 20px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.base-block-container{
	background-color: #fff;
	max-width:1050px;
	margin:0 auto;
	padding:30px;
}


.links{
	margin-bottom: 20px;
}
.link-hover, .link-active, .link-visited, .link-focus, .link-focus-visible, .link-target{
	font-size: 24px;
	margin-right: 20px;
}
.link-hover:hover span{
	text-decoration: underline;
}
.link-active:active span{
	color:deeppink;
	
}
.link-visited:visited span{
	color:rgb(121, 121, 254);
	
}
.link-focus:focus span{
	color:darkorange;
	
}
.link-focus-visible:focus-visible span{
	color:hotpink;
	
}
.link-target:target span{
	color:darkviolet;
	
}
.text{

	margin-bottom: 20px;
}
.text p{
	margin-bottom: 15px;
}
.text p:last-child{
	margin-bottom: 0;
}
.text p:first-of-type{
	color:crimson;
}
.text p:first-child{
	color:cornflowerblue;
}
.text p:last-of-type{
	color:deeppink;
}
.text p:last-child{
	color:deeppink;
}
.text2 p:nth-child(odd){
color:#ffff00;
}
.text2 p:nth-child(even){
	color:blue;
	}
	.text2 p, .text3 p, .text4 p, .text5 p{
		margin-bottom: 20px;
	}
	.text3 p:nth-child(2){
		color:#f0858b;
		}
		.text3 p:nth-child(3n){
			color:#ffff00;
			}
			.text3 p:nth-child(3n+1){
				color:aqua;
				}
				.text4 p:not(:last-child){
					color:#f0858b;
				}
				.text5:has(.yes){
					color:chartreuse;
									}
.text6 ul li{
	font-size: 20px;
	line-height: 51px;
}
.text6 ul li::before{
	content:"";
	width: 28px;
	height:28px;
	background: url("../img/check.svg") no-repeat;
	vertical-align:middle;
	margin-right: 15px;
}
.text6 ul li::after{
	content:"";
	width: 28px;
	height:28px;
	background: url("../img/check.svg") no-repeat;
	vertical-align:middle;
	margin-left: 15px;
}
footer{
	margin-top: 70px;
}
.footer-content {
	font-size: 16px;
	text-align: left;
	color: #fff;
	line-height: 21px;
	max-width: 1050px;
   margin: 0 auto;
   padding: 30px 0px;
}

/* Business */

.business {
	background: #412672;
	font-family:"Inter", sans-serif; 
	padding-top: 61px;
	padding-bottom: 102px;
}
.business-container {
	max-width:1200px;
	margin:0 auto;
	
	overflow: hidden;
}
.business-container .title {
	color: #FFF;
	font-size: 38px;
	line-height: 46px;
	margin-bottom: 30px;
}
.items {
	font-size: 0;
	margin-left: -10px; 
	margin-right: -10px;
}
.item {
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	color:#000000;
	padding-left: 10px;
	padding-right: 10px;
	
}

.item-content{
	padding:20px;
	background-color: #fff;}
.item-content:hover{
	background: #FFBE48;
}
.item-content > *:not(:last-child) {
	margin-bottom: 16px;
}
.item-title {
font-size: 22px;
font-weight: 600;
line-height: 27px;
}
.item-text {
	color: #4F4F4F;
	font-size: 15px;
	line-height: 1.267; /* 126.667% */
	min-height: 76px;
}
.more {
	color: #FE3F3F;
	font-size: 15px;
	border-bottom: 1px solid transparent;
	line-height: 1.267; /* 126.667% */
	
}
.more:hover {
	border-color: #FE3F3F;
}
.item-img{
	height: 266px;
}
.item-img img{
	width:100%;
}
.item-content > * :last-child{
	margin-bottom:0;
}

/* Faculty */

.faculty{
	background:#ffffff;
	padding-top: 153px;
	padding-bottom: 139px;
}
.faculty-content{
	max-width:1200px;
	margin:0 auto;
	color: #412672;
	font-family: "Inter", sans-serif;
	
}
.faculty-text{
	max-width: 518px;
}
.faculty-text>*:not(:last-child){
	margin-bottom: 20px;
}
.faculty-title {
	font-family: "Inter", sans-serif;
	font-size: 34px;
	line-height: 1.2;
}
.faculty-text p{
	font-size: 22px;
	line-height: 1.2;
}
/* Це зроблено із-зі line-height у li, я знаю що відступи йдуть згори до низу але це відноситься до списку, я так роблю line-height */
.faculty-text ul{
	padding-top: 15px;
}


.faculty-text ul li{
	color: #4F4F4F;
	font-size: 20px;

	padding-left: 45px;
}
.faculty-text ul li:not(:last-child){
	margin-bottom: 31px;
}
.faculty-text ul li::before{
	content:"";
	width: 30px;
	height:30px;
	background: url("../img/check.svg") 0 0 no-repeat;
	vertical-align:middle;
	margin-left:-45px;
	margin-right: 15px;
}

.faculty-text>*:not(:last-child){
	margin-bottom: 20px;
}

/* Game */

.game {
	width:1000px;
	height:563px;
	margin:0 auto;
	
	padding-top:30px;
}
.game h2{
	color:#ffffff;
	margin-bottom: 30px;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}
.game-content {
	
	background:url("../img/game.jpg") no-repeat;
	
}
 .block-2, .block-3, .block-4, .block-5, .block-6, .block-7, .block-8, .block-9, .block-10{
	    visibility: hidden;    
}
.block-1 {
	width:160px;
	height:50px;
	background:url("../img/wood.jpg") no-repeat;
	font-family: "Montserrat", sans-serif;
	line-height: 50px;
	text-align:center;
	font-size: 18px;
	font-weight: 700;
}

.block-2 {
	width:40px;
	height:100px;
	margin-left: 120px; 
	background:url("../img/wood.jpg");
}
.block-3 { 
	width:780px;
	height:40px;
	margin-left: 120px; 

	background:url("../img/wood.jpg");
}
.block-4 {
	width:30px;
	height:100px;
	margin-left: 870px; 

	background:url("../img/wood.jpg");
}
.block-5 {
	width:360px;
	height:30px;
	margin-left: 540px; 
	background:url("../img/wood.jpg") no-repeat;
}
.block-6 {
	width:20px;
	height:100px;
	margin-left: 540px; 
	background:url("../img/wood.jpg");
}
.block-7 {
	width:440px;
	height:20px;
	margin-left:120px; 
	background:url("../img/wood.jpg") no-repeat;
}
.block-8 {
	width:15px;
	height:75px;
	margin-left: 120px; 
	background:url("../img/wood.jpg");
}
.block-9 {
	width:720px;
	height:15px;
	margin-left:120px; 
	background:url("../img/wood.jpg") no-repeat;
	margin-top: -15px;
}
.block-10 {
	width:160px;
	height:50px;
	margin-left:840px; 
	margin-top: -15px;
	background:url("../img/wood.jpg") no-repeat;
	font-family: "Montserrat", sans-serif;
	line-height: 50px;
	text-align:center;
	font-size: 18px;
	font-weight: 700;
}

.game-content>*:hover + *,
 .game-content>*:hover {
	visibility: visible;
 }

